<link rel="stylesheet" href="/assets/form.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1 id="add">Adicionar</h1>
<%= form_for @produto do |f| %>
    <div class="form">
        <%= f.label :nome %>
        <div class="input">
            <%= f.text_field :nome %>
        </div>
        <%= f.label :preço %>
        <div class="input">
            <%= f.text_field :preco %>
        </div>
        <%= f.label :qtd %>
        <div class="input">
            <%= f.text_field :qtd %>
        </div>
        <%= f.label :tipo %>
        <div class="input">
            <%= f.text_field :tipo %>
        </div>
        <input type="submit" name="commit" value="Adicionar Produto" class="btn btn-primary btn-md">
    </div>
<% end %>
